.card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
}

.display-small {
    display: block;
}

.display-large {
    display: none;
}

.print-portfolio {
    display: none;
}

/* 540px and smaller*/
/* Have to be responsive card */
@media (min-width: 0px) {
    .card {
        width: 100%;
        margin-bottom: 10px; 
     }
    .card-not-end {
        margin-right: 0px;
    }
}

/* 540px and smaller*/
@media (min-width: 576px) {
    .display-small {
        display: none;
    }
    .display-large {
        display: block;
    }
}

/* 720px */
/* Two 5 px margins*/
@media (min-width: 768px) {
    .card {
       width: 226px;
       margin-bottom: 5px; 
    }
    .card-not-end {
        margin-right: 5px;
    } 
}

/* 960px */
/* Two 10 px margins */
@media (min-width: 992px) {
    .card {
        width: 303px;
        margin-bottom: 10px;
    }
    .card-not-end {
        margin-right: 10px;
    } 
}

@media print {
    .pagebreak-before{
        page-break-before: always !important;
        break-before: always !important; 
    }
    .project-header-or-footer {
        display: none;
    }
  
    .card-not-end {
        margin-right: 0px;
    }

    .card {
        width: 300px !important;
        margin: 10px;
    }

    .print-portfolio {
        display: block;
    }

    .not-print-portfolio {
        display: none;
    }
}