* {
    margin: 0;
    padding: 0;
  }

  #border-t, #border-b, #border-l, #border-r {
    position: fixed;
    background: white;
    z-index: 9999;
  }

  #border-t {
    left: 0;
    right: 0;
    top: 0;
    height: 20px;
  }

  #border-b {
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
  }

  #border-l {
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
  }

  #border-r {
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
  }


body {
    width: 100%vw;
    background-color: #00A3FF;
    transition: background-color 2s ease;
    padding: 0 40px 0;
}

hr {
  border: none;
  color: white;
  background-color: white;
  height: 0.5pt;
  width: 20%;
  margin-bottom: 40px;
}

h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Lora', serif;*/
  font-weight: 900;
  font-size: 5vw;
}

h2 {
  font-family: 'roboto', sans-serif;
  font-size: 24pt;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #001623;
}

h3 {
  font-family: 'roboto', serif;
  font-size: 12pt;
  font-weight: 700;
  line-height: 1.5;
  color: #001623;
}

h4 {
  font-family: 'roboto', serif;
  font-size: 12pt;
  line-height: 1.5;
  /*margin-bottom: 20px;*/
  font-weight: 400;
  color: #001623;
}

p {
  font-family: 'roboto', sans-serif;
  font-size: 10pt;
  line-height: 1.5;
  color: #001623;
}


a {
  text-decoration: none;
  color: #00A3FF;
}

a:visited {
  color: #00A3FF;
}

a:hover {
  color: #85D3FF;
}

.text-dark {
  color: #001623;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

/* panel styles */
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*margin: 0px 40px 0px;*/
}

/* ----- */

#intro {
  flex-direction: column;
}

#title {
  margin-bottom: 40px;
  max-width: 1161px;
  /*position: absolute;*/
}

#sjekk-ut {
  position: absolute;
  bottom: 40px;
}

#prosjekter {
  flex-direction: column;
  min-height: 100vh;
}

#prosjekt-container {
  max-width: 1161px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.prosjekt-boks {
  margin: 20px;
  width: 250px;
  height: 350px;
  color: #001623;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 10px;
}

#prosjekt-boks-header {
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  width: 250px;
  margin-bottom: 20px;
}

#prosjekt-bilde {
  width: 130px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


/* ------- */
#om-meg {
  flex-direction: column;
  min-height: 100vh;
  margin-top: 128px;
}

#om-meg-container {
  min-height: 0vh;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

#pil-og-bilde-boks {
  display: flex;
  flex-direction: column;
}

#meg-pil {
  position: absolute;
}

#om-meg-bilde {
  max-width: 200px;
  border-radius: 3px;
  margin: 50px;
}

#om-meg-tekst{
  margin: 40px;
  max-width: 606px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 18pt;
}

@media (min-width: 1600px) {
  #title {
    margin-bottom: 40px;
    max-width: 1161px;
    font-size: 72pt;
  }
}

@media (max-width: 720px) {
  #title {
    margin-bottom: 40px;
    font-size: 24pt;
  }

  h2 {
    font-size: 18pt;
  }

  #om-meg-bilde {
    max-width: 200px;
    margin-bottom: 20px;
  }

  #om-meg-tekst{
    font-size: 18pt;
    margin: 20px;
  }
}

@media (max-width: 440px) {

  #border-t, #border-b, #border-l, #border-r {
    display: none;
  }

  body {
    padding: 0 20px 0;
  }

  #sjekk-ut {
    position: absolute;
    bottom: 20px;
  }

  .utvalgt-prosjekt-boks {
    margin-right: 40px;
    margin-left: 40px;
    /*height: 100%;*/
  }

  #utvalgt-prosjekt-tekst {
    padding: 20px;
  }
  
  #om-meg-bilde {
    max-width: 140px;
  }

  #om-meg-tekst{
    font-size: 16pt;
  }
}

/* colours */
.color-blue0 {
  background-color: #00A3FF;
}

.color-blue1 {
  background-color: #0078BC;
}
.color-blue2 {
  background-color: #004267;
}
.color-blue3 {
  background-color: #001623;
}